<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Sidebar</title>
        <link rel="shortcut icon" type="image/png" href="../images/favicon.ico">
    </head>
    <body>
        <!-- Page wrapper. -->
        <div id="wrapper">

            <!-- Page sidebar. -->
            <nav id="sidebar">
                <div id="dismiss-sidebar" title="Hide Navigation">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <div class="sidebar-header">
                    <h1>Bootstrap Sidebar</h1>
                </div>
                <ul class="list-unstyled components">
                    <p>Dummy Heading</p>
                    <li class="active">
                        <a href="#home-submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-home"></i>
                            Home
                        </a>
                        <ul class="list-unstyled collapse" id="home-submenu">
                            <li><a href="#">Home 1</a></li>
                            <li><a href="#">Home 2</a></li>
                            <li><a href="#">Home 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-info-circle"></i>
                            About
                        </a>
                    </li>
                    <li>
                        <a href="#page-submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-file-alt"></i>
                            Pages
                        </a>
                        <ul class="list-unstyled collapse" id="page-submenu">
                            <li><a href="#">Page 1</a></li>
                            <li><a href="#">Page 2</a></li>
                            <li><a href="#">Page 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-folder"></i>
                            Portfolio
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-envelope-open-text"></i>
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- Page content. -->
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <button type="button" id="show-sidebar" class="btn btn-secondary" title="Show Navigation">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                </nav>

                <div class="container-fluid">
                    <section id="main">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra feugiat quam, eget consectetur nunc efficitur ut. Curabitur magna arcu, tempus ut dapibus sed, tincidunt in tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In nec turpis sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam id commodo diam, ut ultricies est. Donec mollis hendrerit massa id semper. Suspendisse purus nunc, euismod eu ante vel, ornare elementum dolor. Etiam vitae ante eget nulla malesuada scelerisque sit amet eu lacus. Ut volutpat quam libero, a scelerisque diam mattis eu. Duis blandit ipsum vitae ex luctus, quis aliquet nisl dictum. Vestibulum venenatis luctus nunc pellentesque bibendum. Vestibulum sollicitudin efficitur accumsan. Pellentesque vel sem nibh. Quisque luctus nibh vel elit aliquam semper.</p>
                        <p>Curabitur dictum quis orci eget cursus. Maecenas dapibus lacinia consequat. Praesent finibus metus sit amet nisl tincidunt tempus. Proin tristique metus eu suscipit feugiat. Etiam euismod neque non erat efficitur pretium. Cras nec dui eu nulla pretium convallis in quis turpis. Praesent tristique massa ut dolor congue laoreet. Nunc sit amet lacus finibus, facilisis tortor sit amet, bibendum tortor. Aenean rutrum ante non elit rhoncus dictum. Ut vitae viverra augue. In mollis rutrum sagittis. Sed eros elit, ullamcorper vel porta nec, molestie et enim. Fusce sit amet purus in mi laoreet rutrum.</p>
                        <p>Morbi id dolor vel velit feugiat semper quis eget ante. Maecenas bibendum ornare sem cursus efficitur. Nunc lobortis, turpis a blandit vestibulum, eros ligula condimentum sem, at aliquam sapien magna eget mauris. Cras in ipsum elit. Pellentesque tempus lacus nec ligula auctor, ac eleifend massa interdum. Vivamus blandit, sem quis tincidunt blandit, ante est facilisis risus, ut tristique magna neque sed metus. In eget nibh porttitor, sodales eros quis, dignissim felis. Quisque dignissim pulvinar diam. Proin aliquet aliquam turpis ac tempor. Nulla dignissim odio id metus semper porta.</p>
                        <p>Aenean pellentesque ornare lectus, varius dapibus nisl condimentum sit amet. Nunc ac scelerisque enim. Ut nec euismod nisi. Aenean sit amet porta felis, vel accumsan dui. Vestibulum id dui convallis, porttitor ligula quis, dictum felis. Ut tempus elit ipsum. Phasellus accumsan odio dolor, et efficitur urna tincidunt at. Curabitur iaculis, sapien id hendrerit pellentesque, sapien velit feugiat purus, sit amet pulvinar elit nibh in lacus. Nam in laoreet odio. Integer quis tortor sed nunc mattis semper ac ut sem. Vivamus non quam sem. Aenean tempus ornare orci, vitae imperdiet metus hendrerit venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse ullamcorper vehicula odio ut mattis.</p>
                        <p>Quisque vitae tempus nulla. Donec pellentesque augue vel quam luctus, vel vehicula ante posuere. Pellentesque euismod ullamcorper erat eu porta. Morbi maximus, diam ac placerat sagittis, orci sem lobortis libero, at varius enim sem vitae purus. Quisque eget odio suscipit, vestibulum libero ut, malesuada nisi. In hac habitasse platea dictumst. Nunc nec orci pellentesque, fringilla ante at, viverra est. In dui dolor, gravida vel venenatis non, sodales a enim. Duis accumsan nulla neque, a sollicitudin neque molestie in. Nam dolor mauris, mollis eget felis nec, dapibus pharetra odio.</p>
                    </section>
                </div>

            </div>

            <div id="sidebar-overlay"></div>
        </div>

    </body>
</html>


