<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Sidebar</title>
        <link rel="shortcut icon" type="image/png" href="../images/favicon.ico">
    </head>
    <body>
        <!-- Being div#page-wrapper. -->
        <div id="page-wrapper" class="sidebar-visible">

            <!-- Being nav.sidebar. -->
            <nav id="sidebar">
                <div class="sidebar-content">
                    <div class="sidebar-header">
                        <a href="#">Sidebar Header</a>
                        <div id="close-sidebar">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                    <div class="sidebar-body">
                        <ul>
                            <li>
                                <span class="menu-header">Links</span>
                            </li>
                            <li>
                                <i class="fas fa-flask"></i>
                                <span class="menu-text">Studies</span>
                                <ul>
                                    <li><a href="#study-1">Study 1</a></li>
                                    <li><a href="#study-2">Study 1</a></li>
                                    <li><a href="#study-3">Study 1</a></li>
                                </ul>
                            </li>
                            <li>
                                <i class="fas fa-chart-bar"></i>
                                <span class="menu-text">Visualizations</span>
                                <ul>
                                    <li><a href="#visualization-1">Visualization 1</a></li>
                                    <li><a href="#visualization-2">Visualization 2</a></li>
                                    <li><a href="#visualization-3">Visualization 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-footer">
                        <p>Here is the footer</p>
                    </div>
                </div>
            </nav>
            <!-- End nav.sidebar. -->

            !<!-- Being div#content-wrapper. -->
            <div id="content-wrapper">

                <!-- Begin nav.navbar. -->
                <nav class="navbar navbar-light bg-light">
                    <button href="#toggle-menu" id="toggle-menu" class="navbar-toggler-icon"></button>
                    <a href="#" class="navbar-brand">Some Important Title</a>
                </nav>
                <!-- End nav.navbar. -->

                <!-- Begin div#content. -->
                <div id="content" class="container">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vehicula a massa vel
                        iaculis. Vivamus lectus massa, ultrices eget dignissim a, congue ut elit. Maecenas
                        pharetra purus augue, id consequat est tincidunt ut. Morbi ut ante a augue feugiat
                        laoreet. Praesent sed diam aliquam, tempor massa ac, maximus purus. In eleifend
                        vitae quam vel lobortis. Nam sed purus at justo ultrices sollicitudin. Curabitur
                        elit arcu, suscipit a sodales quis, commodo sit amet tortor. Proin posuere nibh
                        ac nisi egestas pulvinar. Morbi pulvinar sollicitudin nulla, nec ultrices tellus
                        ullamcorper a. Vestibulum vel congue orci. Maecenas sed commodo sapien.
                    </p>
                    <p>
                        Donec quis lorem interdum, vehicula arcu vel, luctus ante. Donec non pharetra sapien,
                        a maximus turpis. Ut mi nibh, eleifend a mollis quis, convallis at urna. Nam eget
                        posuere risus. Donec sem sapien, molestie eu ornare sed, accumsan ut nisi. Integer
                        a rutrum nisl. Nunc gravida est vitae arcu finibus, quis convallis elit laoreet.
                    </p>
                    <p>
                        Donec dictum pellentesque vulputate. Sed mollis lorem sem, sit amet vulputate dui
                        pharetra quis. Integer rhoncus lacus ipsum, id consectetur lorem varius non. Proin
                        euismod pretium sem nec iaculis. Etiam et mauris lobortis, luctus tortor sed,
                        efficitur risus. Pellentesque ac accumsan dui, sed porta est. Aenean egestas dapibus
                        mauris, id consectetur felis finibus in. Mauris magna mi, euismod vitae varius vitae,
                        vulputate eleifend mauris. In consequat iaculis enim, a blandit nunc ultrices non.
                        Maecenas lacus dolor, viverra euismod malesuada sit amet, scelerisque quis erat.
                        Duis commodo interdum tincidunt.
                    </p>
                    <p>
                        Duis tortor elit, pretium nec porta vel, dapibus a lacus. Nullam eleifend venenatis
                        orci, nec feugiat ipsum commodo at. Sed maximus libero porttitor dolor egestas placerat.
                        Aenean rutrum ex a ipsum accumsan, id luctus justo placerat. Suspendisse non arcu mattis,
                        bibendum nunc ac, euismod nibh. Maecenas massa lorem, ullamcorper sit amet nibh feugiat,
                        aliquet fringilla leo. Etiam pharetra, tellus a cursus accumsan, orci massa mollis lectus,
                        eget vehicula diam enim a risus. Duis eu diam eget dui pellentesque suscipit. Vestibulum
                        imperdiet congue tortor. Pellentesque aliquam consectetur nibh, a elementum risus ultrices
                        nec. Ut fermentum pharetra nibh eu tempus. Etiam tempus nulla enim, non sagittis nulla
                        lobortis at. Nullam lobortis commodo lacus, sit amet tempor ligula. Sed malesuada nisl
                        sed dolor tincidunt, non pulvinar magna tempus. Morbi vitae lacus at sapien tempor sagittis
                        consequat sed justo.
                    </p>
                    <p>
                        Ut nulla mauris, cursus eu vestibulum eu, viverra eu magna. Aliquam erat volutpat.
                        Donec in semper velit. Sed blandit sagittis dui, non rhoncus purus semper quis.
                        Integer fermentum magna tempus tellus laoreet, placerat feugiat neque euismod.
                        Nullam eleifend et nibh quis porttitor. In blandit, orci ut congue pharetra, leo
                        lorem molestie leo, gravida viverra felis velit at metus. Sed feugiat aliquet
                        turpis, et scelerisque sem rhoncus vel.
                    </p>
                    <p>
                        Suspendisse a est commodo, pharetra nisl vel, sollicitudin ligula. Sed euismod
                        euismod leo ut placerat. Integer non posuere erat. In sit amet maximus ipsum, id
                        tristique nunc. Cras arcu tortor, lobortis pulvinar justo a, sollicitudin tincidunt
                        lectus. Proin sagittis, sapien sed sagittis tempor, elit nunc ornare nisi, et eleifend
                        sem dui at tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        Integer commodo finibus leo sit amet gravida. Duis ex tellus, fringilla quis semper
                        nec, egestas nec magna. Mauris non sodales lorem.
                    </p>
                </div>
                <!-- End div#content. -->

            </div>
            <!-- End div#content-wrapper. -->

        </div>
        <!-- End div#page-wrapper. -->
    </body>
</html>


